Source: nepdict
Section: python
Priority: optional
Maintainer: Niroj Bista, <info@nirojbista.com.np>
Build-Depends: debhelper (>= 7), libfile-fcntllock-perl
Standards-Version: 1.1
Homepage: http://www.nepdict.com

Package: nepdict
Architecture: all
Depends: python (>=2.7)
Description: English-Nepali Dictionary
 Offline English-Nepali Dictionary for getting the Nepali meaning of an English word. We have Online Dictionary for regular users at 	"www.nepdict.com".
