[Desktop Entry]
Version=1.1
Name=Nepdict
Comment=English-Nepali Dictionary
Exec=gnome-terminal -e "bash -c /usr/local/bin/nepdict.py;bash"
Icon=/usr/share/pixmaps/nepdict.png
Terminal=true
Type=Application
Categories=GNOME;GTK;Utility;Application;Dictionary;
GenericName[en_US]=Nepdict -  English to Nepali Dictionary.
Name[en_US]=Nepdict
